body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;  
}

/* ----- Hero Image ----- */
.hero-image{
    background: url("../images/british-wine-cellar.JPG") no-repeat center;
    background-color: #000000;
    background-position: top 20px;
    width: 100%;
    height: 800px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-button {
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 50px;
  text-decoration: none;
  margin: 10px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
}

i {
    font-size: 120px;
}

h1 {
    color: #ffffff;
    padding: 50px;
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-size: 24px;
    color: #ffffff;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* ----- footer ----- */

.social-links li a i {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    text-align: center;
    padding: 3px;
}

/* ----- events listing ----- */

.date {
    padding: 2px;
    text-align: center;
    color: #b71c1c;
}

.event-listing {
    padding: 5px 40px 80px 40px;
    width: 100%;
    font-family: 'Inconsolata', monospace;
    overflow: auto;
}

.shows {
    padding: 5px;
    text-align: left;
}

/* ----- Gallery ----- */

.photo-showcase {
    width: 100%;
}

.page-header{
    margin: 20px;
    text-align: center;
    color: #b71c1c;
}

/* ------ form------- */

.application {
    background-color: #eceff1;
    width: 80%;
    padding: 20px;
    margin: 30px;
    font-family: 'Inconsolata', monospace;
}

.booking-form  {
    width: 100%;
    padding-top: 50px;
    padding: 5px;
    margin: 20px 20px;
    font-family: 'Inconsolata', monospace;
}

.live-image img {
    width: 80%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ----- hover ----- */

/* hover effect (red shadow) */
.gallery:hover {
  box-shadow: 0 0 2px 1px #f05545;
}

.social-links li a i:hover {
    background-color: #7f0000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn:hover {
    background-color: #7f0000;
}

/* ----- media queries ----- */

@media only screen and (max-width: 992px) {
    .responsive {
    width: 49%;
    margin: 6px 0;
    }
    .card3 {
        display: none;
    }
    .artwork img {
        width: 60%;
    }
}

@media (max-width: 766px) {
    footer {
        height: 100px;
    }
    .general-sub p {
        display: none;
    }
    .general-sub {
        text-align: center;
        padding-bottom: 5px;
        padding-left: 0;
        margin: 0;
        display: inline-block;
    }
    .social-links {
        text-align: center;
        padding-right: 0;
    }
    .headline {
        font-size: 400%;
    } 
    .responsive {
        width: 100%;
     }
     .artwork img {
        width: 65%;
     }
    .track-listing {
        padding-left: 50px;
    }
}

@media (max-width: 576px) {
    .spotify {
        text-align: center;
        width: 100%;
        padding: 10px;
    }
    .track-listing {
        text-align: left;
        padding-left: 50px;
        font-size: 14px;
    }
    .more-releases {
         width: 90%;
     }
     .artwork {
         text-align: center;
     }
     .artwork img {
        width: 90%;
     }
     .event-listing {
        padding: 5px 40px 40px 10px;
        width: 100%;
        font-family: 'Inconsolata', monospace;
        overflow: auto;
}
}
    
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}